/**
 * 基于jquery 移动端H5 车牌选择器
 * author: pxsgdsb
 * github: 
 * gitee: 
 */
 
* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 16px;
    height: 100%;
}

ul li {
    list-style: none;
}

/* 车牌输入样式 */
.plate_input_box {
    display: flex;
    justify-content: space-between;
}

.plate_input_box li {
    height: 2.1rem;
    width: 1.5rem;
    line-height: 2.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    margin: 0 .1rem;
}

.plate_input_box .plate_input_this {
    border: 1px solid #3163f8;
}

.plate_input_box .new_energy {
    font-size: .7rem;
    line-height: 1.1rem;
    color: #a3a3a3;
}

/* 地域输入键盘 */
.territory_keyboard {
    background-color: #efefef;
    width: 100%;
    height: auto;
    display: none;
    position: fixed;
    bottom: -50rem;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    z-index: 99;
}

.territory_keyboard .top {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: .1rem .5rem;
}

.territory_keyboard .keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem 0;
}

.territory_keyboard .keys li {
    background-color: #fff;
    height: 2.3rem;
    width: 1.8rem;
    margin: .3rem;
    line-height: 2.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0.2rem 0.2rem #aaa;
}

.territory_keyboard .keys li:active {
    box-shadow: 0 0 0 #aaa;
}

/* 字母键盘 */
.alphabet_keyboard {
    background-color: #efefef;
    width: 100%;
    height: auto;
    display: none;
    position: fixed;
    bottom: -50rem;
    left: 0;
    right: 0;
    border-top: 1px solid #ccc;
    z-index: 99;
}

.alphabet_keyboard .top {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: .1rem .5rem;
}

.alphabet_keyboard .keys {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: .5rem 0;
}

.alphabet_keyboard .keys li {
    background-color: #fff;
    height: 2.1rem;
    width: 1.8rem;
    margin: .3rem;
    line-height: 2.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0.2rem 0.2rem #aaa;
}

.alphabet_keyboard .keys .del {
    width: 2.3rem;
}

.alphabet_keyboard .keys li:active {
    box-shadow: 0 0 0 #aaa;
}

.weui-label {
    white-space: nowrap !important;
}